name: Publish Python distribution to PyPI

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Upgrade system
        run: pip install --upgrade wheel

      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install build dependencies
        run: python -m pip install --upgrade pip build twine

      - name: Upgrade setuptools
        run: pip install --upgrade "setuptools==76.1.0"

      - name: Build package
        run: python -m build
       
      - name: Check package metadata
        run: twine check dist/*

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.12
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
